<head>
    <title>Hack ACI</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="static/hacklogo.png" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Application</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Hack ACI</h1>
            <p>The first iteration of Agincourt's Hackathon!</p>
            <div>
                <a href="#">
                <button class="scroll" type="button"><span></span>APPLY NOW</button>
                </a>
            </div>
        </div>
    </div>
    <br><br>
</body>
