<head>
    <title>Hack ACI</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="static/hacklogo.png" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#aboutus">About Us</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="#">Application</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>Hack ACI</h1>
            <p>The first iteration of Agincourt's Hackathon!</p>
            <div>
                <a href="/register">
                <button class="scroll" type="button"><span></span>APPLY NOW</button>
                </a>
            </div>
        </div>
    </div>
    <div class="about" id="aboutus">
        <br><h1 style="font-size:50px">About Us</h1> <br>
        <p>HackACI was founded by a group of high schoolers attending Agincourt CI. <br> Our mission is to create a community where talented people can connect, share, and develop their creative skills to a new level.
            You will present your amazing project to the judges where you are able to compete for prizes.
        Form a team and build a project from start to finish! HackACI is for everyone, and you do not need to come from a technical background.
            Join 50+ high school hackers on a journey to make your projects come to life. We will provide you with workshops, ideas and support you on your journey of creativity.
        </p>
        <br><br>
        <h1>FAQ</h1>
    </div>

</body>
