<head>
    <title>Register</title>
    <link rel="stylesheet" href="static/regStyle.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="static/hacklogo.png" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#aboutus">About Us</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="#">Application</a></li>
            </ul>
        </div>
        <div class="form-box">
            <h1>Register</h1>
            <form>
                <div class="input-group">
                    <div class="input-field">
                        <input type="text" placeholder="Full Name">
                    </div>
                    <div class="input-field">
                        <input type="email" placeholder="Email">
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="Password">
                    </div>
                <p>Forgot password <a href="#">Click Here!</a></p>
                </div>
                <div class="btn-field">
                    <a href="#">
                    <button class="regbut" type="submit">Register</button>
                    </a>
                </div>
            </form>
        </div>
    </div>



</body>
